*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    text-align: center;
    color: #FFD877;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background: url("img/About_page_background.webp")no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #E3D2C3;
}
h1{
   text-align: center; 
   align-self: start;
   color: #B7FF00;
   font-size: 3em;
   margin-bottom: 20px;
}
/*-------------------NAVIGATIONBAR-----------------*/
.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    line-height: 100px;
    background: linear-gradient(39,39,39,0.6),transparent;
    z-index: 100;
}
.navbar-logo p{
    color: rgb(255,255,255);
    font-size: 25px;
    font-weight: 600;
}
.navbar-manu ul{
    display: flex;
}
.navbar-menu ul il{
    list-style-type: none;
}
.navbar-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover,
.active{
    border-bottom: 2px solid #000000;
   }
   .navbar-button .btn{
    width: 130px;
    height:40px;
    font-weight: 500;
    background: rgba(255,255,255,0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
   }
   .btn:hover{
    background: rgba(255,255,255,0.3);
   }
   #registerBtn{
    margin-left:15px
   }
   .btn.white-btn{
    background: rgba(255,255,255,0.7);
   }
   .btn.white-btn:hover{
    background: rgba(255,255,255,0.5);
   }
   .navbar-menu-btn{
    display: none;
   }
   /*--------------MODAL FORM STYLES--------------*/
   .FORM-BOX{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3); 
    z-index: 1000;
    padding: 20px;
   }
   .form-box.active{
    display: flex;
   }
   .login-container,.register-container{
    position: absolute;
    background: linear-gradient(135deg,#FFECD2,#FFCCBB);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
   }
