*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    text-align: center;
    color: #FFD877;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background-color: #E3D2C3;
}
h1{
    text-align: center;
    align-self: start; 
    color: #B7FF00;
    font-size: 3em;
    margin-bottom: 20px;
}
/*------------NAVIGATIONBAR---------------*/
*{
text-decoration: none;
}
.navbar{
    background:#e60b99;font-family:calibri;padding: 15px;padding-left: 15px;
}
li{
   list-style: none; 
   display:inline-block ;
}
li a{
    color:white ;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.home-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#e60b99,#FCB69F);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;
}
.home-content{
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    padding: 50px;
    border-radius: 25px;
    max-width: 700px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}
.home-content h1 {
    font-size: 2.5rem;
    color: #4B2E2E;
}
.home-content p{
    font-size: 1.2rem;
    margin: 15px 0 30px;
    color: #5A3E36;
}
.home-btn{
    background: #FF7F50;
    color:#fff;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.home-btn:hover{
    background: #FF5722;
}
.tips-section{
    width: 100%;
    min-height: 100vh;
    bottom: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background: linear-gradient(135deg,#cd95b8 0%,#FFC2E9 100%);
    font-family: 'Poppins',sans-serif;
}
.tips-container{
    max-width: 10000px;    
    background: linear-gradient(135deg,#cd95b8 0%,#e835a6 100%);
   border-left: 5px solid #FFD735;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(255,255,255,0.15);
    text-align: center;
    position: relative;
}
.tips-container h2{
    font-size: 2.rem;
    margin-bottom: 20px;
    color: #FFF350;/*Aqua blue for freshness*/
}
.tips-container p{
    font-size: 1rem;
    line-height: 1.7;
    color: #333;
}
.about-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#e60b99,#FCB69F);
    display: flex;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;

}
.about-content{
        background: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    padding: 50px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);

}
.about-content h1 {
    font-size: 2.5rem;
    color: #4B2E2E;
}
.about-content p{
    font-size: 1.2rem;
    margin: 15px 0 30px;
    color: #5A3E36;
}
.about-btn{
    background: #FF7F50;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.about-btn:hover{
    background: #FF5722;
}

